<ul class="article_list fl">
       <li class="article_box">
           <div class="article radius">
             <h4>我希望的爱情是这样的</h4>
             <div class="article_context clearfix">
               <img src="img/s1.jpg">
               <p>我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
             </div>
             <div class="article_footer">
             <span class="article_time fl"><b></b>2013-8-7</span>
             <span class="article_talk fr"><b></b>34</span>
             <span class="article_zan fr"><b></b>10</span>
           </div>
           
           </div>
           <div class='ti'></div>
           <div class='ci'></div>           
       </li>
       <li class="article_box">
           <div class="article radius">
             <h4>我希望的爱情是这样的</h4>
             <div class="article_context clearfix">
               <img src="img/s1.jpg">
               <p>我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
             </div>
             <div class="article_footer">
             <span class="article_time fl"><b></b>2013-8-7</span>
             <span class="article_talk fr"><b></b>34</span>
             <span class="article_zan fr"><b></b>10</span>
           </div>
           
           </div>
           <div class='ti'></div>
           <div class='ci'></div>           
       </li><li class="article_box">
           <div class="article radius">
             <h4>我希望的爱情是这样的</h4>
             <div class="article_context clearfix">
               <img src="img/s1.jpg">
               <p>我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
             </div>
             <div class="article_footer">
             <span class="article_time fl"><b></b>2013-8-7</span>
             <span class="article_talk fr"><b></b>34</span>
             <span class="article_zan fr"><b></b>10</span>
           </div>
           
           </div>
           <div class='ti'></div>
           <div class='ci'></div>           
       </li><li class="article_box">
           <div class="article radius">
             <h4>我希望的爱情是这样的</h4>
             <div class="article_context clearfix">
               <img src="img/s1.jpg">
               <p>我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
             </div>
             <div class="article_footer">
             <span class="article_time fl"><b></b>2013-8-7</span>
             <span class="article_talk fr"><b></b>34</span>
             <span class="article_zan fr"><b></b>10</span>
           </div>
           
           </div>
           <div class='ti'></div>
           <div class='ci'></div>           
       </li><li class="article_box">
           <div class="article radius">
             <h4>我希望的爱情是这样的</h4>
             <div class="article_context clearfix">
               <img src="img/s1.jpg">
               <p>我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。</p>
             </div>
             <div class="article_footer">
             <span class="article_time fl"><b></b>2013-8-7</span>
             <span class="article_talk fr"><b></b>34</span>
             <span class="article_zan fr"><b></b>10</span>
           </div>
           
           </div>
           <div class='ti'></div>
           <div class='ci'></div>           
       </li>
   </ul>