<div class="footer">
  <div class="footer_top">
    <div class="comwidth">
      <div class="footer_box_1 fl">
        <h4>友情链接</h4>
        <a href="javascript:;">Mite的个人微信公众号</a>
        <a href="javascript:;">Mite的个人微博</a>
      </div>
      <div class="footer_box_2 fl">
        <h4>最新评论</h4>
        <div class="talk">          
          <dl>
            <dt class="talker_img"><img src="img/s8.jpg"></dt>
            <dd class="talker_timer"><span class="gray">DanceSmile</span><b class="deep_green">49分钟前</b></dd>
            <dd class="talker_context"><span class="gray">在</span>如果要学习web前端开发，需要学习什么？<span class="gray">中评论</span></dd>
            <dd class="light_green">文章非常详细，我很喜欢.前端的工程师文章非常详细，我很喜欢.前端的工程师</dd>
          </dl>
        </div>
        <div class="talk">          
          <dl>
            <dt class="talker_img"><img src="img/s8.jpg"></dt>
            <dd class="talker_timer"><span class="gray">DanceSmile</span><b class="deep_green">49分钟前</b></dd>
            <dd class="talker_context"><span class="gray">在</span>如果要学习web前端开发，需要学习什么？<span class="gray">中评论</span></dd>
            <dd class="light_green">文章非常详细，我很喜欢.前端的工程师文章非常详细，我很喜欢.前端的工程师</dd>
          </dl>
        </div>
        <div class="talk">          
          <dl>
            <dt class="talker_img"><img src="img/s8.jpg"></dt>
            <dd class="talker_timer"><span class="gray">DanceSmile</span><b class="deep_green">49分钟前</b></dd>
            <dd class="talker_context"><span class="gray">在</span>如果要学习web前端开发，需要学习什么？<span class="gray">中评论</span></dd>
            <dd class="light_green">文章非常详细，我很喜欢.前端的工程师文章非常详细，我很喜欢.前端的工程师</dd>
          </dl>
        </div>
      </div>
      <div class="footer_box_3 fr">
        <h4>摄影作品</h4>
        <div class="photo_show">
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>
          <div class="photo_box"><img src="img/s7.jpg"><span class="photo_mask"></span></div>

        </div>
      </div>
    </div>
  </div>

  <div class="footer_bottom">
    <div class="comwidth">
      <p><span class="gray">Copyright 2013 make by</span> Mite </p>
    </div>
  </div>
</div>

