<div class="resume radius fr">
         <h3>我的名片</h3>
         <div class="resume_box">
           <p>姓名：刘立冲 || 网名：Mite</p>
           <p>职业：web前端</p>
           <p>电话：13632206621</p>
           <p>email:131649580@qq.com</p>
         </div>
         <span class="my_resume">
           <span><a href="javascript:;" class="talk1" title="Mite的简历"></a></span>
           <span><a href="javascript:;" class="talk2" title="Mite详细住址"></a></span>
           <span><a href="javascript:;" class="talk3" title="Mite联系方式"></a></span>
           <span><a href="javascript:;" class="talk4" title="Mite的爱好"></a></span>
           <span><a href="javascript:;" class="talk5" title="Mite的相片"></a></span>           
         </span>
      </div>